<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
  <securityPolicy>

    <fullTrustAssemblies>

      <add assemblyName="Microsoft.Owin" version="3.0.0.0" publicKey="31bf3856ad364e35"/>
      <add assemblyName="Microsoft.Owin.Security.OAuth" version="3.0.0.0" publicKey="31bf3856ad364e35"/>
      <add assemblyName="Microsoft.Owin.Security.Cookies" version="3.0.0.0" publicKey="31bf3856ad364e35"/>
      <add assemblyName="Microsoft.Owin.Security" version="3.0.0.0" publicKey="31bf3856ad364e35"/>
      <add assemblyName="Newtonsoft.Json" version="3.0.0.0" publicKey="30ad4fe6b2a6aeed"/>
      <add assemblyName="System.Web.Helpers" version="3.0.0.0" publicKey="31bf3856ad364e35"/>
      <add assemblyName="System.Web.Mvc" version="3.0.0.0" publicKey="31bf3856ad364e35"/>
      <add assemblyName="System.Web.Optimization" version="3.0.0.0" publicKey="31bf3856ad364e35"/>
      <add assemblyName="System.Web.WebPages" version="3.0.0.0" publicKey="31bf3856ad364e35"/>
      <add assemblyName="WebGrease" version="1.5.2.14234" publicKey="31bf3856ad364e35"/>
      
    </fullTrustAssemblies>

  </securityPolicy>
</configuration>
