@{
    ViewBag.Title = "www.greenox.in";
}
<h2>@ViewBag.Title.</h2>
 

<address>
    Noida<br />
    India<br />
    <abbr title="Phone">P:</abbr>
    888.131.4646
</address>

 
<address>
    <strong>Support:</strong>   <a href="mailto:care@greenox.in">care@greenox.in</a><br />
    <strong>Feedback:</strong> <a href="mailto:feedback@greenox.in">feedback@greenox.in</a>
</address>