@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>POS</h1>
    <p class="lead">Point of Sale</p>
    <p><a href="/Product/Product" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
          Create Product
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Update Product libraries</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hosting</h2>
        <p>Place Order.</p>
        <p><a class="btn btn-default" href=" ">Learn more &raquo;</a></p>
    </div>
</div>